@model IEnumerable<SuperCube3D_MVC.Models.AchievementViewModel>

@{
    ViewBag.Title = "Achievements";
}

<h2>Achievements</h2>

@if (Model.Count() > 0)
{
    <ul>
        @foreach (var ach in Model)
        {
            <li>
                @ach.Title : @ach.Description
            </li>
        }
    </ul>
}
else
{
    <span>You don't have any achievements yet!</span>
}

