@model SuperCube3D_MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            <form action="/Manage/ChangePassword">
                <button class="button" type="submit">Change password</button>
            </form>
        </dd>
        <br />
        <dt>Achievements:</dt>
        <dd>
            <form action="/Manage/Achievements">
                <button class="button" type="submit">View achievements</button>
            </form>
        </dd>
        <br />
        <dt>Current High Score:</dt>
        <dd>
            @if (Model.HighScore != null)
            {
                @Model.HighScore.Result
            }
            else
            {
                <span>Looks like you haven't played the game yet... Why not <a href="Game/Index">take a shot at it right now?</a></span>
            }
        </dd>
    </dl>
</div>
